/* Screen Sizes */
$laptop-size: 'px';
$tablet-size: 'px';
$mobile-size: 'px';

/* Background color */
// background color names

// background color values
$header-background: '';
$odd-section-background-color: '';
$even-section-background-color: '';
$footer-background-color: '';
$btn-background-color: '';
$input-background-color: '';
$card-background-color: '';

/* Text color */
// text color names

// text color values
$main-color: '';
$odd-section-color: '';
$odd-section-heading-color: '';
$even-section-color: '';
$even-section-heading-color: '';
$btn-color: '';
$input-color: '';
$card-color: '';
$link-color: '';

/* Font family */
$main-font-family: '';

/* Font size */
// font size names
$big-font-size: '';
$medium-font-size: '';
$small-font-size: '';
$extra-small-font-size: '';

// font size values
$main-font-size: '';
$main-heading-font-size: '';
$heading-font-size: '';
$header-and-footer-font-size: '';
$subheading-font-size: '';
$link-font-size: '';
$btn-font-size: '';
$card-heading-font-size: '';
$card-font-size: '';

/* Font weight */
// font weight names
$bold-font-weight: '';
$semi-bold-font-weight: '';
$medium-font-weight: '';
$light-font-weight: '';
$thin-font-weight: '';

// font weight values
$main-font-weight: '';
$main-heading-font-weight: '';
$heading-font-weight: '';
$header-and-footer-font-weight: '';
$subheading-font-weight: '';
$link-font-weight: '';
$btn-font-weight: '';
$card-heading-font-weight: '';
$card-font-weight: '';

/* Line height */
// line height names
$big-line-height: '';
$medium-line-height: '';
$small-line-height: '';
$extra-small-line-height: '';

// line height values
$main-line-height: '';
$main-heading-line-height: '';
$heading-line-height: '';
$header-and-footer-line-height: '';
$subheading-line-height: '';
$link-line-height: '';
$btn-line-height: '';
$card-heading-line-height: '';
$card-line-height: '';

/* Letter spacing */
// letter spacing names
$big-letter-spacing: '';
$medium-letter-spacing: '';
$small-letter-spacing: '';
$extra-small-letter-spacing: '';

// letter spacing values
$main-letter-spacing: '';
$main-heading-letter-spacing: '';
$heading-letter-spacing: '';
$header-and-footer-letter-spacing: '';
$subheading-letter-spacing: '';
$link-letter-spacing: '';
$btn-letter-spacing: '';
$card-heading-letter-spacing: '';
$card-letter-spacing: '';
